
      {{#required}}
      {{^isNullable}}
      return false if @{{{name}}}.nil?
      {{/isNullable}}
      {{/required}}
      if _{{{name}}} = @{{{name}}}
      {{#isEnum}}
        return false unless OpenApi::EnumValidator.valid?(_{{{name}}}, {{#lambda.uppercase}}valid_values_for_{{{name}}}{{/lambda.uppercase}})
      {{/isEnum}}
      {{^isEnum}}
      {{^allowableValues}}
      {{#isModel}}
        return false if _{{{name}}}.is_a?(OpenApi::Validatable) && !_{{{name}}}.valid?
      {{/isModel}}
      {{#isContainer}}
        {{#items.isModel}}
        return false if _{{{name}}}.is_a?({{#isArray}}Array{{/isArray}}{{#isMap}}Hash{{/isMap}}) && !OpenApi::ContainerValidator.valid?(container: _{{{name}}})
        {{/items.isModel}}
      {{/isContainer}}
      {{#hasValidation}}
      {{#maxLength}}
        return false if {{^isDate}}{{^isDateTime}}_{{{name}}}.to_s{{/isDateTime}}{{/isDate}}{{#isDate}}Time::Format::ISO_8601_DATE.format(_{{{name}}}){{/isDate}}{{#isDateTime}}Time::Format::RFC_3339.format(_{{{name}}}){{/isDateTime}}.size > {{#lambda.uppercase}}max_length_for_{{{name}}}{{/lambda.uppercase}}
      {{/maxLength}}
      {{#minLength}}
        return false if {{^isDate}}{{^isDateTime}}_{{{name}}}.to_s{{/isDateTime}}{{/isDate}}{{#isDate}}Time::Format::ISO_8601_DATE.format(_{{{name}}}){{/isDate}}{{#isDateTime}}Time::Format::RFC_3339.format(_{{{name}}}){{/isDateTime}}.size < {{#lambda.uppercase}}min_length_for_{{{name}}}{{/lambda.uppercase}}
      {{/minLength}}
      {{#maximum}}
        return false if _{{{name}}} >{{#exclusiveMaximum}}={{/exclusiveMaximum}} {{#lambda.uppercase}}max_for_{{{name}}}{{/lambda.uppercase}}
      {{/maximum}}
      {{#minimum}}
        return false if _{{{name}}} <{{#exclusiveMinimum}}={{/exclusiveMinimum}} {{#lambda.uppercase}}min_for_{{{name}}}{{/lambda.uppercase}}
      {{/minimum}}
      {{#maxItems}}
        return false if _{{{name}}}.size > {{#lambda.uppercase}}max_items_for_{{{name}}}{{/lambda.uppercase}}
      {{/maxItems}}
      {{#minItems}}
        return false if _{{{name}}}.size < {{#lambda.uppercase}}min_items_for_{{{name}}}{{/lambda.uppercase}}
      {{/minItems}}
      {{#pattern}}
        return false if _{{{name}}} !~ {{#lambda.uppercase}}pattern_for_{{{name}}}{{/lambda.uppercase}}
      {{/pattern}}
      {{/hasValidation}}
      {{/allowableValues}}
      {{#allowableValues}}
        return false if !_{{{name}}}.valid?
      {{/allowableValues}}
      {{/isEnum}}
      end
