{{^anyOf}}{{^defaultValue}}nil{{/defaultValue}}{{#defaultValue}}{{#isMap}}nil{{/isMap}}{{^isMap}}{{#isArray}}[{{/isArray}}{{^isEnum}}{{#allowableValues}}{{moduleName}}::{{dataType}}.new({{{defaultValue}}}){{/allowableValues}}{{^allowableValues}}{{{defaultValue}}}{{/allowableValues}}{{/isEnum}}{{#isEnum}}{{{defaultValue}}}{{/isEnum}}{{#isArray}}]{{/isArray}}{{/isMap}}{{/defaultValue}}{{/anyOf}}{{#anyOf}}{{#-first}}nil{{/-first}}{{/anyOf}}