      {{#isEnum}}
      {{#isContainer}}
      return false unless {{#lambda.uppercase}}enum_validator_for_{{{name}}}{{/lambda.uppercase}}.all_valid?(@{{{name}}}{{#isMap}}.try(&.values){{/isMap}}{{#required}}{{^isNullable}}, false{{/isNullable}}{{/required}})
      {{/isContainer}}
      {{^isContainer}}
      return false unless {{#lambda.uppercase}}enum_validator_for_{{{name}}}{{/lambda.uppercase}}.valid?(@{{{name}}}{{#required}}{{^isNullable}}, false{{/isNullable}}{{/required}})
      {{/isContainer}}
      {{/isEnum}}
      {{^isEnum}}
      {{#required}}
      {{^isNullable}}
      return false if @{{{name}}}.nil?
      {{/isNullable}}
      {{/required}}
      if _{{{name}}} = @{{{name}}}
      {{^allowableValues}}
      {{#isModel}}
        return false if _{{{name}}}.is_a?(OpenApi::Validatable) && !_{{{name}}}.valid?
      {{/isModel}}
      {{#isContainer}}
        {{#items.isModel}}
          {{#isArray}}
        return false if _{{{name}}}.is_a?(Array) && !OpenApi::ArrayValidator.valid?(array: _{{{name}}})
          {{/isArray}}
          {{#isMap}}
        return false if _{{{name}}}.is_a?(Hash) && !OpenApi::HashValidator.valid?(hash: _{{{name}}})
          {{/isMap}}
        {{/items.isModel}}
      {{/isContainer}}
      {{#hasValidation}}
      {{#maxLength}}
        return false if _{{{name}}}.to_s.size > {{{maxLength}}}
      {{/maxLength}}
      {{#minLength}}
        return false if _{{{name}}}.to_s.size < {{{minLength}}}
      {{/minLength}}
      {{#maximum}}
        return false if _{{{name}}} >{{#exclusiveMaximum}}={{/exclusiveMaximum}} {{{maximum}}}
      {{/maximum}}
      {{#minimum}}
        return false if _{{{name}}} <{{#exclusiveMinimum}}={{/exclusiveMinimum}} {{{minimum}}}
      {{/minimum}}
      {{#pattern}}
        return false if _{{{name}}} !~ {{#lambda.uppercase}}pattern_for_{{{name}}}{{/lambda.uppercase}}
      {{/pattern}}
      {{#maxItems}}
        return false if _{{{name}}}.size > {{{maxItems}}}
      {{/maxItems}}
      {{#minItems}}
        return false if _{{{name}}}.size < {{{minItems}}}
      {{/minItems}}
      {{/hasValidation}}
      {{/allowableValues}}
      {{#allowableValues}}
        return false if !_{{{name}}}.valid?
      {{/allowableValues}}
      end
      {{/isEnum}}