# {{#lambdaPrefixWithHash}}{{> api_info}}{{/lambdaPrefixWithHash}}
# OpenAPI Generator version: {{{generatorVersion}}}

require "./core"

require "./{{shardName}}/models/**"
require "./{{shardName}}/api/**"
